body {
  background-color: #FFFFCC;
  color: #330000;
  font-family: arial;
  background-image: url(javajam/background.gif);
}

main {
  padding: 10px 20px 20px 30px;
  margin-left: 150px;
  background-color: #F2EAB7;
  color: #000000;
  overflow: auto;
}

header{
  background-color: #CCAA66;
  color: #000000;
  height: 100px;
  background-image: url("../javajam/javalogo.gif");
  background-position: center;
  background-repeat: no-repeat;
}

img{
  border: none;
}

h1{
  margin: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

h2{
  text-transform: uppercase;
  background-color: #FFFFCC;
  color: #663300;
  font-size: 1.2em;
  border-bottom: 1px solid #000000;
  padding: 5px 0 0 5px;
  margin-right: 20px;
  clear: left;
}

nav{
  text-align: center;
  float: left;
  width: 100px;
  font-weight: bold;
  padding-top: 10px;
}

nav ul{
  list-style-type: none;
}

nav a{
  list-style-type: none;
  text-decoration: none;
  padding-bottom: 15px;
}

nav a:link{
  color: #996633;
}

nav a:visited{
  color: #CCAA66;
}

nav a:hover{
  color: #330000;
}

footer{
  background-color: #CCAA66;
  color: #000000;
  font-size: .60em;
  font-style: italic;
  text-align: center;
  padding: 20px 0 20px 0;
  clear: both;
}

header, nav, main, footer{
  display: block;
}

#mobile{
  display: none;
}

#desktop{
  display: inline;
}

#wrapper{
  background-color: #FFFFCC;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  min-width: 700px;
  max-width: 1024px;
  box-shadow: 5px 5px;
}

.details{
  padding-left: 20%;
  padding-right: 20%;
  overflow: auto;
}

.floatright{
  float: right;
  padding-left: 20px;
}

.floatleft{
  float: left;
  padding: 0 20px 20px 0;
}
