body
{
  /* you better change this stuff */
  margin: 0;
  font-family: Helvetica;
  color: indigo;
  background-color: lightpink;
  font-size: 20px;
}

a {
  color: #8A084B
}

ul.nav{
  list-style-type: none;
  text-align: center;
  background-color: #8A084B;
  font-weight: bold;
  margin: 0;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

ul.nav li{
	display: inline;
	padding: 5px;
}

ul.nav li a{
  color: white;
}

ul.nav li a:hover {
  background-color: #FFD0D7;
  color: indigo;
  padding-top: 10px;
  padding-bottom: 10px;
}

main {
  margin: 200px;
}

h1 {
  text-align: center;
  margin-top: 75px;
}

h2 {
	margin-left: 20px;
}

table {
	border-collapse: collapse;
	width: 98%;
	margin: 10px;
}

td, th {
	border: 1px solid #F7819F;
	text-align: left;
	padding: 5px;
}

.tablecenter {
	text-align: center;
}

.image {
  width: 480px;
  height: 479px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.snow{
  width: 200px;
}

.beach{
  width: 200px;
  margin-top: 20px;
}

.float{
  float: left;
}

.beachy {
	display: inline;
}

figcaption{
  text-align: center;
  font-style: italic;
  font-size: 80%;
}

tr:nth-child(even) {
	background-color: #F7819F;
}

.center {
	text-align: center;
}

.fantano {
  align-content: center;
  max-width: 50%;
  float: right;
}

footer {
  margin: 20px;
  text-align: center;
}

.w3c {
  display: inline;
}
