.image {
  width: 480px;
  height: 479px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin: 0;
  background-color: lightpink;
  color: indigo;
  font-family: Helvetica;
  font-size: 20px;
}

ul.nav{
  list-style-type: none;
  text-align: center;
  background-color: #8A084B;
  font-weight: bold;
  margin: 0;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

ul.nav li{
	display: inline;
	padding: 5px;
}

ul.nav li a{
  color: white;
}

ul.nav li a:hover {
  background-color: #FFD0D7;
  color: indigo;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  color: #8A084B
}

h1 {
  text-align: center;
  margin-top: 75px;
}

p{
  text-align: center;
}

li{
  margin: .2em 0;
}

ul {
  padding-left: 100px;
  padding-right: 100px;
}

footer {
  margin: 20px;
}

.w3c {
  display: inline;
  margin: 20px;
}
